body{
    background-color: pink;
}

#pearl, #amethist, #garnet, #lapis,#steven, #opponent, #space-pirates{
    /* width: 150px; */
    width: 100px;

}

#peridot{
    /* width:123px; */
    width: 75px;
}

#bismuth, #lion, #opponent-img{
    /* width: 187px; */
    width: 125px;
}
