body{
    background-color: pink;
}

#pearl, #amethist, #garnet, #lapis, #opponent, #spacePirates {
    width: 150px;

}

#peridot{
    width:123px;
}

#bismuth, #lion{
    width: 187px;
}
#steven{
    width:150px
}